@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import 'tailwindcss';

@layer base {
  :root {
    --white: #ffffff;
    --lightgray: #e4e8ee;
    --blue: #003087;
    --mediumblue: #0072ce;
    --lightblue: #ddf2ff;
    --orange: #fc6b03;
    --lightorange: #ffa827;
    --gray: #424242;
    --darkgray: #272727;
    --black: #000c21;
  }

  html {
    @apply font-sans;
    font-family: 'PT Sans', sans-serif;
    font-size: 16px;
  }
}

html {
  font-family: 'PT Sans', sans-serif;
  color: var(--black);
}

.pt-sans-regular {
  font-family: 'PT Sans', sans-serif;
  font-weight: 400;
  font-style: normal;
}

.pt-sans-bold {
  font-family: 'PT Sans', sans-serif;
  font-weight: 700;
  font-style: normal;
}

.pt-sans-regular-italic {
  font-family: 'PT Sans', sans-serif;
  font-weight: 400;
  font-style: italic;
}

.pt-sans-bold-italic {
  font-family: 'PT Sans', sans-serif;
  font-weight: 700;
  font-style: italic;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: 'PT Sans', sans-serif;
  font-weight: 700;
  font-style: normal;
}

h1 {
  font-size: clamp(34px, 5vw, 48px);
  line-height: clamp(40px, 5vw, 54px);
  text-transform: capitalize;
}

h2 {
  color: var(--blue);
  font-size: clamp(28px, 5vw, 36px);
  font-style: normal;
}

h3 {
  color: var(--blue);
  font-size: clamp(20px, 5vw, 28px);
  text-transform: capitalize;
}

h4 {
  color: var(--white);
  font-size: clamp(18px, 5vw, 24px);
}

h5 {
  color: var(--gray);
  font-size: 20px;
}

.subheading {
  display: block;
  font-size: clamp(20px, 5vw, 24px);
  font-weight: 400;
  line-height: 1.5;
  margin-top: 0.5em;
}

p {
  color: var(--blue);
  font-family: 'PT Sans', sans-serif;
  font-size: clamp(16px, 5vw, 18px);
  font-style: normal;
  font-weight: 400;
}

.container {
  position: relative;
  display: block;
  width: 100%;
  max-width: 1240px;
  padding: 0 20px;
  margin: 0 auto;
}

.container + .container {
  margin-top: 60px;
}

.container:last-child {
  margin-bottom: 100px;
}

.hero .container:last-child {
  margin-bottom: 0;
}

.container-collapse {
  padding: 0;
  margin: 0 auto;
}

.floating-box {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 30px !important;
  border-radius: 12px;
  background: var(--white);
  box-shadow: 0 4px 21px 0 rgba(0, 0, 0, 0.09);
}

.chip {
  display: flex;
  padding: 8px 16px;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  background: rgba(0, 114, 206, 0.1);
  color: #0072ce;
  font-size: 14px;
  font-weight: 400;
}

.section-one {
  margin: 50px auto;
}
.section-one .container {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.load-more {
  text-align: center;
}

.reference {
  color: var(--lightorange) !important;
  font-style: italic;
}

.reference sup {
  font-style: normal;
}

@media (min-width: 768px) {
  .container-collapse {
    max-width: 1240px;
    padding: 0 20px;
  }
}

@media (min-width: 1280px) {
  .container {
    padding: 0;
  }
  .section-one {
    margin: 90px auto;
  }
}
